#paneLeft{
    -fx-background-color: #333333;
}

.tfLabels {
    -fx-background-color: #e84910;
    -fx-background-radius: 5 5 0 0;
    -fx-background-insets: 0 -5 0 -5;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-radius: 0px;
}

.text-field:focused {
    -fx-border-color: #e84910;
}

.button {
    -fx-background-color: #e84910;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #ee6020;
}

.radio-button {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-color: #e84910;
}

.radio-button:selected .dot {
    -fx-background-color: white;
}

