#paneLeft {
    -fx-background-color: white;
    -fx-tile-alignment: CENTER;
}

#paneRight {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#addTechMenu {
    -fx-background-color: black;
    -fx-text-fill: white;
}