#backCanvas {
    -fx-border-color: black;
    -fx-border-radius: 1px;
}

#topPane {
    -fx-background-color: #333333;
}

.combo-box {
    -fx-background-radius: 0px;
    -fx-background-color: #e84910;
    -fx-text-fill: white;
}

.combo-box:hover {
    -fx-background-color: #ee6020;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #e84910;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #ee6020;
}

.button {
    -fx-background-color: #e84910;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #ee6020;
}