#createCustomerMenu {
    -fx-background-color: black;
}

.menuText{
    -fx-text-fill: white;
}

.customerList .list-cell
{
    -fx-font-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-border-width: 1;
    -fx-pref-width: 160;
}